@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-white text-black;
}


body {
  background-color: #050B2C;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
